.additional__menu__list {
  display: flex;
  flex-grow: 1;
  background-color: rgb(221, 218, 218);
}

.additional__menu__navigation {
  background-image: url("../img/back_ground_menu_list.png");
  z-index: 10;
  width: 400px;
}

.additional__menu__list__items {
  float: right;
  position: sticky;
  top: 110px;
  margin-right: 20px;
  color: white;
  list-style-type: none;
  line-height: 1.5;
  transition: 0.5s;
}

.additional__menu__navigation__header {
  float: right;
  position: sticky;
  white-space: nowrap;
  top: 40px;
  margin-right: 20px;
  color: white;
  text-transform: uppercase;
  padding-top: 25px;
}

.additional__menu__list_item {
  padding: 5px;
  width: 170px;
  padding-left: 10px;
  overflow: hidden;
}

.additional__menu__list_item:hover {
  color: red;
  background-color: white;
  clip-path: polygon(0% 0%, 94% 0, 100% 50%, 94% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 94% 0, 100% 50%, 94% 100%, 0% 100%);
  cursor: pointer;
}

.additional__menu__black__ground {
  background-color: black;
}
.additional__menu__container {
  display: flex;
  flex-direction: column;
}

.body,
#root {
  height: 100%;
}


.additional__menu__grid {
  width: 70%;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.menu__grid__img {
  width: 280px;
  height: 175px;
}

.additional__menu__grid__header {
  color: black;
  font-weight: bold;
  white-space: nowrap;
  padding-top: 10px;
  padding-left: 15px;
  border-left: 8px solid red;
}

.additional__menu__grid__items {
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(3, 280px);
  grid-auto-rows: minmax(500px, auto);
  grid-gap: 20px;
}



.additional__menu__grid__box:hover {
  -webkit-box-shadow: -2px 1px 13px -1px rgba(50, 50, 50, 0.58);
  -moz-box-shadow:    -2px 1px 13px -1px rgba(50, 50, 50, 0.58);
  box-shadow:         -2px 1px 13px -1px rgba(50, 50, 50, 0.58);
}

.additional__menu__grid__box {
  background-color: white;
} 


.additional__menu__grid__btn:hover {
  cursor: pointer;
  background-color: red;
  background-image: none ;
  -webkit-box-shadow: -7px 5px 20px -1px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -7px 5px 20px -1px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 5px 20px -1px rgba(50, 50, 50, 0.75);
}


@media (max-width: 1300px) {
  .additional__menu__grid__items {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (max-width: 960px) {
  .additional__menu__grid__items {
    grid-template-columns: repeat(1, 280px);
  }
}


@media (max-width: 600px) {
  .additional__menu__navigation {
    position: relative;
    left: -400px;
  }

  .additional__menu__grid {
    position: relative;
    left: -250px;
  }
  .additional__menu__swipe_left {
    transition: 0.5s;
    position: relative;
    min-width: 100%;
    left: 0;
  }

  .additional__menu__navigation__header{
  float: left;
  position: static;
  white-space: nowrap;
  margin-left: 62px;
  font-size: 30px;
  }

  .additional__menu__list__items {
    float: left;
    position: static;
    margin-left: 20px;
  }

  .additional__menu__display_none {
    display: none;
  }

  .additional__menu__navigation {
    display: flex;
    flex-direction: column;
    height: 650px;
    font-size: 20px;
  }
}

/**/
.additional__menu__grid__box {
  width: inherit;
}
.additional__menu__grid__wrapper {
  position: relative;
  width: inherit;
  height: 100%;
}

.additional__menu__grid__img {
  width: 100%;
  height: 35%;
}

.additional__menu__grid__tittle {
  padding-top: 10px;
  padding-left: 5px;
  width: 100%;
  height: 45%;
}

.additional__menu__grid__btn__box {
  width: 100%;
  height: 20%;
}

.additional__menu__grid__btn {
  margin: 5px auto;
  margin-bottom: 5px;
}

.additional__menu__grid__name{
  font-weight: bold;
  font-size: 20px;
} 

.additional__menu__grid__description {
  color: rgb(158, 152, 152);
} 


.additional__menu__grid__btn:hover {
  cursor: pointer;
  background-color: red;
  background-image: none ;
  -webkit-box-shadow: -7px 5px 20px -1px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -7px 5px 20px -1px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 5px 20px -1px rgba(50, 50, 50, 0.75);
}

.additional__menu__grid__description__dose {
  margin-left: 40px;
  font-size: 20px;
}

@media (max-width: 480px) {
  .additional__menu__grid {
    left: -400px;
  }
}

@media (max-width: 280px) {
  .additional__menu__grid {
    margin-top: 60px;
  }
}
